.Button {
  border: 1px solid antiquewhite;
  border-radius: 10px;
  margin: 0 20px;
  height: 20%;
  width: 100%;
  font-size: 100%;
  font-weight: bold;
  background-color: green;
  cursor: pointer;
}

.Button:hover {
  background-color: darkgreen;
  color: antiquewhite;
}

.Button:active {
  box-shadow: 2px 2px 2px black;
}

.Button:disabled {
  background-color: darkgrey;
}
